<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">

<script type="text/javascript" src="js/jquery-2.2.1.js"></script>
<script type="text/javascript" src="js/disciplinas.js"></script>

<!-- bootstrap - link cdn -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<!-- incluindo css -->
<link href="css/style.css" rel="stylesheet">

<title>Disciplinas</title>
</head>
<body>
	<form id="form">
		<br />
		<div class="container"><h2>Lista de disciplinas</h2></div>
		
		<div class="container" id="disciplinas">
			<table class="table" id="tabela_disciplinas" border="1">
			</table>
		</div>
	</form>
</body>
</html>