<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Notas</title>
</head>
<script type="text/javascript" src="js/jquery-2.2.1.js"></script>
<script type="text/javascript" src="js/notas.js"></script>

<!-- bootstrap - link cdn -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<!-- incluindo css -->
<link href="css/style.css" rel="stylesheet">
<body>
	<div class="painel-login" align="center">
	<table>
		<tr >
			<td><label>ID: </label></td>
			<td><input class="form-control" type="text" id="id_aluno"/></td>
			<td><button class="btn default-button" id="btn_mostrar_notas">Mostrar notas</button></td>
		</tr>
	</table>
	</div>
	<div class="container">
		<table class="table" id="tabela_notas"></table>
	</div>
</body>
</html>